<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        
        <!-- Page title + Description -->
        <title>Aloña Mendi Triatloi Taldea</title>
        <meta name="description" content="Sport is the best theme for sports clubs and centres">

        {% block opengraph %} 

        {% endblock %}
        
        <!-- Favicons -->
        <link rel="shortcut icon" href="{{STATIC_URL}}favicons/favicon.ico" type="image/x-icon">
		<link rel="icon" href="{{STATIC_URL}}favicons/favicon.ico" type="image/x-icon">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
        
        
		
		<!-- Style Sheets -->
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/styles.css">
		
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/font-awesome.min.css">  
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.sidr.light.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}js/media/mediaelementplayer.min.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}js/owl-carousel/owl.carousel.css"> 
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}js/fancybox/jquery.fancybox.css?v=2.1.4"/> 
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/mosaic.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/responsive.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/rs-plugin.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}js/rs-plugin/css/settings.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/tooltipster.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/mega.css" />
        

        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/skin2.css"> <!-- change to skin2.css for other skin -->
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/full.css"> <!-- change to boxed.css for boxed style -->

        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/aloina.css" />
		
		
		<!-- Scripts -->
        <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    
    	
	<!-- Pre Header Area -->
	<div class="outter-wrapper pre-header-area header-style-5">
		<div class="wrapper clearfix">
			
			<div class="pre-header-right right">
				<a href="http://oinatikoduatloia.com" target="_blank">Oñatiko Duatloia <i class="fa fa-external-link"></i></a>
			</div>
			
		</div>	
	</div> 
		
		   	
    	
    	
	<!-- Header Area -->
	<div class="outter-wrapper header-area header-style-5">
		<div class="wrapper clearfix logo-container with-menu">

			<!-- Start Mobile Menu Icon -->
			<div id="mobile-header" class="">
				<a id="responsive-menu-button" href="#sidr-main">
					<em class="fa fa-bars"></em> Menu
				</a>
			</div>
			
			<header>
				<div id="navigation" class="clearfix">

					<ul class="menuHideBtn">
						<li><a id="closebtn" class="fa" href="#">&#xf00d;</a></li>
					</ul>
					
						
					<div class="main-header-left left adjust-left">
						<a class="logo" href="{% url 'index' %}">
							<img src="{{STATIC_URL}}img/logo-white.png" alt="Scene" />
						</a>
					</div>
					
	    	    	
					<div class="main-header-right right adjust-right">
						<nav class="megamenu_container">
						<ul id="nav" class="right megamenu">
						    <li class="nav-parent">
						    	<a href="{% url 'egutegia' %}">Egutegia</a>
						    </li>
						    
						    
						    <li>
						    	<a href="{% url 'blog' %}" class="megamenu_drop">Berriak</a>
		                    </li>
						                
						                
						                
						    <li class="nav-parent">
						    	<a href="{% url 'taldea' %}">Taldea</a>
						    </li>
                            
                            <li class="nav-parent">
						    	<a href="{% url 'harremana' %}">Harremana</a>
						    </li>
						    
						</ul>
						</nav>
					</div>

    			</div>
			</header>
		</div>
	</div>	    	
    	    	
    	    	

	<!-- Post Header Area -->
	<div class="outter-wrapper nav-container post-header-area header-style-5 page-sticky">
    	<div class="wrapper clearfix">

			<div class="post-header-left left stay">
				<!-- Social Icons -->
				<ul class="social-links boxy">
					<li><a class="fa" title="Facebook" href="https://www.facebook.com/oinatitt" target="_blank">&#xf09a;</a></li>
					<li><a class="fa" title="Twitter" href="https://twitter.com/OinatiTT" target="_blank">&#xf099;</a></li>
					<li><a class="fa" title="RSS" href="{% url 'feed' %}" target="_blank">&#xf09e;</a></li>
				</ul>
			</div>
    	</div>
	</div>
    	    	
    	
    	
{% block eduki_nagusia %} {% endblock %}
    	
	<!-- Start Outter Wrapper -->
	<div class="outter-wrapper footer-wrapper">		
		<div class="wrapper clearfix">
			<!-- Start Widget -->
			<div class="col-1-4 widget">
				<h3 class="widget-title">Harremana</h3>
				<ul class="list-1">
					<li>
                        <strong>Email:</strong><br/>  
                        <i><a href="#">Laister</a></i>
                    </li>
                    
                    <li>
                        <strong><a href="{% url 'harremana' %}">Formulario bitartez</a></strong>
                    </li>	
				</ul>	
			</div>
			
			
			
			<!-- Start Widget -->
			<div class="col-1-4 widget">
				<h3 class="widget-title">Gure helburua</h3>
				<p>Triatloia eta bere modalitate ezberdinen parte hartzea sustatzea da gure helburu nagusia. Konpainia onean posible bada, askoz hobeto.</p>
			</div>
			
		
			
			<!-- Start Widget -->
			<div class="col-1-4 widget">
				<h3 class="widget-title">Martxoan Oñatiko Duatloia</h3>
				<a href="http://oinatikoduatloia.com" target="_blank"><img src="{{STATIC_URL}}img/logo_duatloia.png" /></a>
			</div>
			
			
			<!-- Start Widget -->
			<div class="col-1-4 widget last">
				<a class="logo" href="{% url 'index' %}">
					<img src="{{STATIC_URL}}img/logo-white.png" alt="Aloña Mendi Triatloi Taldea" />
				</a>
				<ul class="list-1">
					<li>
	    				<strong>Helbidea:</strong><br/>  
	    				Aloña Mendi Elkartea <br/>
                        Atzeko Kale 18-20, <br/>
                        20560 OÑATI <br/>
                        Gipuzkoa
					</li>
					<li>
						<strong><a href="{% url 'harremana' %}">Ikusi Mapan</a></strong>
					</li>
				</ul>	
			</div>
		</div>
	</div>
    	
    	
    	
    	
    	
	<!-- Start Outter Wrapper -->
	<div class="outter-wrapper base-wrapper">
		<div class="wrapper clearfix">
			<div class="left">© Aloña Mendi Triatloi Taldea 2015</div>
			
			<!-- Social Icons -->
			<ul class="social-links right">
				<li><a class="fa" title="Facebook" href="https://www.facebook.com/oinatitt" target="_blank">&#xf09a;</a></li>
				<li><a class="fa" title="Twitter" href="https://twitter.com/OinatiTT" target="_blank">&#xf099;</a></li>
			</ul>
		</div>
	</div>
		
		
		
		
	<!-- Load jQuery -->
	<script type="text/javascript" src="{{STATIC_URL}}js/vendor/jquery-1.8.3.min.js"></script>
	
	<!-- Start Scripts --> 
	<script type="text/javascript" src="{{STATIC_URL}}js/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.sidr.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/fancybox/jquery.fancybox.js?v=2.1.4"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/cleantabs.jquery.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/fitvids.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.scrollUp.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/media/mediaelement-and-player.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/owl-carousel/owl.carousel.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/selectivizr-min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/placeholder.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.stellar.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/mosaic.1.0.1.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.isotope.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/toggle.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tooltipster.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.countdown.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.sticky.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/html5media.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/slider-1.js"></script>
    
    <script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>
	

				
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-66923143-1', 'auto');
	  ga('send', 'pageview');

	</script>
	    
    
    </body>
</html>