{% extends 'base.html' %}

{% block opengraph %}
<meta property="og:title" content="Aloina Mendi Triatloi Taldea" />
<meta property="og:url" content="http://aloinatriatloi.org/berriak/" />
<meta property="og:description" content="Aloina Mendi Triatloi Taldearen azkenengo nondik norakoak" />
{% endblock %}

{% block eduki_nagusia %}

<!-- Start Outter Wrapper -->
	<div class="outter-wrapper body-wrapper">		
		<div class="wrapper ad-pad clearfix">
				
			<div class="main-content clearfix col-3-4">
				
				<h1>{{gertaera.izena}}</h1>
						
				<div class="clearfix evt-single-date">
					<h6 class="left">{{gertaera.ordua}}</h6>
				</div>
				
				<iframe
				  width="600"
				  height="250"
				  frameborder="0" style="border:0"
				  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyATcAMlmIKtzhW0ZMtf8SVjhPX7QRXSZHI
				    &q={{gertaera.kokapena}}"  frameborder="0" style="border:0" allowfullscreen>
				</iframe>
				
				
				<div class="boxy boxy-pad col-1-3">
					<h5>Xehetasunak</h5>
					<ul class="widget-list list-2">
						<li><strong>Ordua:</strong> {{gertaera.ordua}}</li>
						<li><strong>Helbidea:</strong> {{gertaera.helbidea}}</li>
						<li><strong>Weba:</strong> <a href="#">{{gertaera.weba}}</a></li>
					</ul>	
				</div> 
				
				<h3>Deskribapena</h3>
				{{gertaera.textua|safe}}
						
				<!-- Finish Main Content -->
			</div>
			
			
			
			<!-- Start Main Sidebar  -->
			<aside class="col-1-4 last">
				<div class="widget">
				    <h3>Datozen Hitzorduak</h3>
				    <ul class="widget-event-list">
				    	{% for event in gertaerak %}
				    		<li>
					    		<img class="left stay" src="{{MEDIA_URL}}{{event.mota.irudia}}" alt="{{event.mota.izena}}" />
					    		<div class="date">{{event.ordua}}</div>
					    		<h6 class="title"><a href="event.html">{{event.izena}}</a></h6>
					    	</li>
				    	{% endfor %}
				    </ul>
			    </div>
			
			
		</div>
	</div>
    	
    	
    	
    	
    	
    	
    	
    	
	<!-- Start Outter Wrapper -->
	<div class="outter-wrapper breadcrumb-wrapper">		
		<div class="wrapper">
			<a href="{% url 'index' %}" class="fa">&#xf015;</a> <a href="{% url 'index' %}">Home</a> <a href="#">Gertaerak</a> <a href="#">{{gertaera.izena}}</a> 
		</div>
	</div>
{% endblock %}