{% extends 'base.html' %}

{% block opengraph %}
<meta property="og:title" content="Aloina Mendi Triatloi Taldea" />
<meta property="og:url" content="http://aloinatriatloi.org/harremana/" />
<meta property="og:description" content="Aloina Mendi Triatloi Taldearekin harremanetan jartzeko bidea" />
{% endblock %}


{% block eduki_nagusia %}

<!-- Start Outter Wrapper -->	
   	<div class="outter-wrapper">
   	<iframe
				  width="600"
				  height="250"
				  frameborder="0" style="border:0"
				  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyATcAMlmIKtzhW0ZMtf8SVjhPX7QRXSZHI
				    &q=43.0315751,-2.4114642"  frameborder="0" style="border:0" allowfullscreen>
	</iframe>
   	</div>
   	<!-- End Outter Wrapper -->		
    	
	<!-- Start Outter Wrapper -->
	<div class="outter-wrapper body-wrapper">		
		<div class="wrapper ad-pad clearfix">
			
			
			<div class="col-3-4">
	        	<h1>Harremana</h1>
	        	<p class="lead">Edozertarako gurekin harremanetan jartzeko, ondorengo formularioa bete dezakezu</p> 
	   	                
	        	
	        	
	        	 
	        	 
	        	<!-- Start Form -->
	        	<form method="post">
				    {% csrf_token %}
				    {{ form }}
				    <div class="form-actions">
				      <input name="button" class="btn-2" type="submit" value="Bidali mezua" id="send" />
				    </div>
				</form>
	        	
	        	
	        	
	        	<div id="response"></div>
	              	                                                                                               
				<!-- Finish Main Content -->
	        </div>
			
	
			<!-- Start Main Sidebar  -->
			<aside class="col-1-4 last">
				<div class="widget">
				<h3>Beste bide batzuk</h3>
			    <ul class="widget-list list-1">
			    	<li><a href="https://www.facebook.com/oinatitt" target="_blank">facebook.com/oinatitt</a></li>
			    	<li><a href="https://twitter.com/OinatiTT" target="_blank">twitter.com/OinatiTT</a></li>
			    	<li>Aloña Mendi Elkartea
			    		<p>Atzeko Kale 18-20</p>
			    		<p>20560 OÑATI Gipuzkoa</p></li>
			    </ul>
			    </div>	
			</aside> 
			<!-- Finish Sidebar -->
				
			
		</div>
	</div>
    	
    	
    	
    	
    	
    	
    	
    	
	<!-- Start Outter Wrapper -->
	<div class="outter-wrapper breadcrumb-wrapper">		
		<div class="wrapper">
			<a href="{% url 'index' %}" class="fa">&#xf015;</a> <a href="{% url 'index' %}">Hasiera</a> <a href="#">Harremana</a> 
		</div>
	</div>

{% endblock %}