{% extends 'base.html' %}

{% block eduki_nagusia %}
	<div class="outter-wrapper body-wrapper">		
		<div class="wrapper ad-pad clearfix">
		<h1>Laguntzaile Nagusiak</h1>
			<!-- Start Outter Wrapper -->	
				<div class="outter-wrapper">
			        <div class="wrapper clearfix">
			                <div class="col-1-2 widget postiragarkia">
			                    <img src="{{STATIC_URL}}img/iragarkiak/arrikrutz.jpg" />
			                </div>

			                <div class="col-1-2 widget postiragarkia">
			                    <img src="{{STATIC_URL}}img/iragarkiak/caravanas.gif" />
			                </div>
					</div> 
				</div>
		<h2>Esker onak</h2>
		
			 <div class="wrapper clearfix">
                <div class="col-1-5 widget">
                    <img src="/static/img/iragarkiak/arrikrutz.jpg" />
                </div>

                <div class="col-1-5 widget">
                    <img src="/static/img/iragarkiak/caravanas.gif" />
                </div>

                <div class="col-1-5 widget">
                    <img src="/static/img/iragarkiak/lgPoloGaraia.png" />
                </div>

                <div class="col-1-5 widget">
                    <img src="/static/img/iragarkiak/magdalena.jpg" />
                </div>

		</div> 
	


		</div>
	</div>

{% endblock %}

